/* ––– Common attributes and document body –––*/

:root {
	--page-maxwidth: 	60rem;
	--adfc-blue:		#004b7c;
}

* {
	box-sizing:			border-box;
}

body {
	min-height:			100vh;
	display:			flex;
	flex-direction:		column;

	margin: 			0;
	align-items:		center;

	font-family:		sans-serif;
}

/* –––––– Document-wide type attributes ––––––*/

a {
	font-style:			italic;
	letter-spacing:		.25pt;
	color:				black;
	text-decoration:	solid underline;
}

a:hover {
	text-shadow: 0 0 .5pt;
}

em {
	font-style:			italic;
	letter-spacing:		.25pt;
}

/* ––––––––––––– Document header –––––––––––––*/

body > header {
	width:				100%;
	text-align:			center;
	margin-bottom:		2rem;
}

body > header > img {
	display:			block;
	margin: 			auto;
	height:				25rem;
	width:				100%;
	max-width:			var(--page-maxwidth);
	object-fit:			contain;
}

/* –––––––––– Document main section ––––––––––*/

body > main {
	padding:			0 2rem;
	margin: 			0 auto;

	width:				100%;
	max-width:			var(--page-maxwidth);
}

body > main h1 {
	text-align:			center;
	font-weight:		normal;

	margin:				1em 0;
	font-size:			xx-large;
}

body > main h2 {
	margin:				2em 0 .75em;
	font-size:			large;
}

body > main p {
	margin:				.75em 0;
	line-height:		1.5em;
	text-align:			justify;
}

body > main > footer {
	margin-top:			4rem;
	text-align:			center;
}

body > main .logos {
	display:			flex;
	flex-direction: 	row;
	flex-wrap:			wrap;
	align-items: 		center;
	justify-content:	center;
	gap:				1rem;
}

body > main .logos > img {
	display:			block;
	padding:			0;
	margin:				0;
	width:				10rem;
	height:				10rem;
	object-fit:			contain;
}

/* –––––––––––––––––– Form –––––––––––––––––––*/

body > form {
	padding:			2rem;
	margin: 			2rem auto 1rem;

	width:				100%;
	max-width:			var(--page-maxwidth);
}

#personaldata {
	display:			flex;
	flex-direction:		row;
	flex-wrap:			wrap;
	column-gap:			2rem;
}

#personaldata > p {
	flex-basis:			var(--page-maxwidth);
	flex-grow:			4;
	order:				1;
}

#personaldata #firstnamecontainer,
#personaldata #lastnamecontainer,
#personaldata #emailcontainer,
#personaldata #phonecontainer {
	flex-basis:			20rem;
	flex-grow:			2;
	order:				-1;
}

#personaldata #zipcodecontainer,
#personaldata #citycontainer,
#personaldata #headcountcontainer {
	flex-basis:			20rem;
	flex-grow:			2;
}

#personaldata input{
	display:			block;
	width:				100%;
	padding:			.5em;

	font-size:			larger;
}

input {
	background-color:	transparent;
	border-style:		solid;
	border-color:		black;
	border-width:		1pt;
	border-radius:		0;
	outline:			0;
}

input:not(:focus):user-invalid {
	border-color:		red;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="phone"]:focus,
input[type="text"]:focus {
	border-color:		var(--adfc-blue);
	box-shadow:			0 0 0 1pt var(--adfc-blue);
}

input[type="checkbox"],
input[type="radio"] {
	accent-color:		var(--adfc-blue);
}

/* ––––––––––––– Document footer –––––––––––––*/

body > footer {
	width:				100%;
	margin-top:			auto;
	padding: 			.5rem;
}
