/* ––– Common attributes and document body –––*/

:root {
	--page-maxwidth: 	60rem;
}

* {
	box-sizing:			border-box;
}

body {
	min-height:			100vh;
	display:			flex;
	flex-direction:		column;

	margin: 			0;
	align-items:		center;
}

/* ––––––––––––– Document header –––––––––––––*/

body > header {
	width:				100%;
	text-align:			center;
	margin-bottom:		2rem;
}

body > header > img {
	display:			block;
	margin: 			auto;
	height:				25rem;
	width:				100%;
	max-width:			var(--page-maxwidth);
	object-fit:			contain;
}

/* –––––––––– Document main section ––––––––––*/

body > main {
	padding:			0 2rem;
	margin: 			0 auto;

	width:				100%;
	max-width:			var(--page-maxwidth);
}

body > main > footer {
	margin-top:			4rem;
	text-align:			center;
}

body > main .logos {
	display:			flex;
	flex-direction: 	row;
	flex-wrap:			wrap;
	align-items: 		center;
	justify-content:	center;
	gap:				1rem;
}

body > main .logos > img {
	display:			block;
	padding:			0;
	margin:				0;
	width:				10rem;
	height:				10rem;
	object-fit:			contain;
}

/* –––––––––––––––––– Form –––––––––––––––––––*/

body > form {
	padding:			2rem;
	margin: 			2rem auto 1rem;

	width:				100%;
	max-width:			var(--page-maxwidth);
}

/* ––––––––––––– Document footer –––––––––––––*/

body > footer {
	width:				100%;
	margin-top:			auto;
	padding: 			.5rem;
}
