<!DOCTYPE html>
<html lang="">

<head>
	<meta charset="utf-8">
	<meta name="application-name" content="{{ appname }}" />{% if version %} <!--{{ version }}-->{% endif%}
	<title>Server Hello World</title>
	<link rel="icon" type="image/png" href="{{ url_for(static, filename='favicon/favicon.png') }}" sizes="32x32" />
	<link rel="icon" type="image/svg+xml" href="{{ url_for(static, filename='favicon/favicon.svg') }}" sizes="any" />
</head>

<body>{% if custom[conf.LOGO_KEY][conf.APP_KEY] %}
	<header>
		<img src="{{ custom[conf.LOGO_KEY][conf.APP_KEY] }}" />
	</header>
{% endif %}
	<form method="post" action="/" enctype="multipart/form-data">
		{{ form.csrf_token }}
		<div>{% for field in form.get_inputfields() %}
			<p>{{ field.label }} {{ field() }}</p>{% endfor %}
		</div>
		<div>{% for field, upload in form.get_questionfields() %}
			<div>
				{{ field.label }}
				{{ field() }}
				{{ upload() }}
			</div>{% endfor %}
		</div>
		<input type="submit" value="Submit">
	</form>

	<footer>
		<nav>{% if contact[conf.URL_KEY][conf.LEGAL_KEY] %}
			<a href="{{ contact[conf.URL_KEY][conf.LEGAL_KEY] }}">Legal Notice</a>{% endif %}{% if contact[conf.URL_KEY][conf.PRIVACY_KEY] %}
			<a href="{{ contact[conf.URL_KEY][conf.PRIVACY_KEY] }}">Privacy Policy</a>{% endif %}
		</nav>
	</footer>
</body>

</html>
