{% extends 'base.html.j2' %}

{% block body %}
    <header>
        <nav>
{%- block nav %}
{%- endblock %}
        </nav>
    </header>
{% block content %}{% endblock %}
{%- block scripts %}
    <script src="{{ url_for(static, filename='js/viewer_api_calls.js') }}{% if version %}?v={{ version | urlencode }}{% endif%}"></script>
{% endblock -%}
{% endblock %}