{% extends 'viewer/base.html.j2' %}

{% block title %}Fahrradfreundliche Schule: Liste der Bewerbungen{% endblock %}

{% block nav %}
            {%- if session.get(userperms.ADMIN) %}
            <a href="{{ url_for('pages.list_users') }}" class="icon accounts">Benutzerverwaltung</a>
            {%- endif %}
            {{- super() }}
{% endblock %}

{% block content %}
	<main class="schoollist">
		<ul>
{% for row in rows %}
			<li>
				<p class="timestamp">{{ row['timestamp']|applytimezone(settings) }}</p>
				<p class="name">{{ row['school'] }}</p>
				<nav>
					<a href="{{ url_for('pages.download_archive', id=row['id']) }}" class="icon download">Zusammenfassung {%- if row['filecount'] %} und {{ row['filecount'] }} Beleg{% if row['filecount'] != 1 %}e{% endif %} {%- endif %} herunterladen</a>
					<a href="{{ url_for('pages.show_application', id=row['id']) }}" class="icon show">Anzeigen</a>
					{%- if session.get(userperms.DELETE) %}
					<a href="{{ url_for('pages.delete_application', id=row['id'])}}" class="icon delete" data-description="die Bewerbung{% if row['id'] %} {% if 'ymnasium' in row['school'] %}des{% else %}der{% endif %} {{ row['school'] }}{% endif %}">Löschen</a>
					{%- endif %}
				</nav>
			</li>
{% endfor %}
		</ul>
	</main>
{% endblock %}
