{% extends 'base.html.j2' %}

{% block head %}
{{- super() }}	<link rel="stylesheet" href="{{ url_for(static, filename='css/viewer.css') }}">
{% endblock %}

{% block body %}
	<main class="login">
		{%- if settings[keys.WEBSITE][keys.LOGO][keys.APP] %}
		<img src="{{ settings[keys.WEBSITE][keys.LOGO][keys.APP] }}" alt="Fahrradfreundliche Schule"/>
		{%- else %}
        <h1>Fahrradfreundliche Schule</h1>
		{%- endif %}
        {%- if error %}
        <p class="error">{{ error }}</p>
        {%- else %}
        <p>Für den Zugang zu diesem Bereich ist eine Anmeldung erforderlich.</p>
        {%- endif %}

        <form method="POST" novalidate>
            {{ form.csrf_token }}
            {%- for field in form.username, form.password %}
            <div>
                {{ field.label }}
                {{ field() }}
            </div>
            {%- endfor %}
			<div class="buttons">
				{{ form.submit() }}
			</div>
        </form>
	</main>
{% endblock %}
