Kontakt:
{{
	(
		(row['firstname'], row['lastname'])|select|join(' '),
		row['phone'],
		row['email'],
	)|select|join('\n')|default('Keine Angabe', true)
}}

Schule:
{{
	(
		row['school'],
		row['address'],
		(row['zipcode'],row['city'])|select|join(' '),
	)|select|join('\n')|default('Keine Adresse angegeben', true)
}}

Anzahl Schüler*innen und Lehrkräfte: {{ row['headcount']|default('Keine Angabe') }}

Erfüllte Kriterien:
{%- set fulfilled_criteria = [] %}
{%- for key, text in questions|items %}
	{%- if row[key] %}
		{%- do fulfilled_criteria.append(text) %}
	{%- endif %}
{%- endfor %}
{{ fulfilled_criteria|join('\n')|default('Keine Kriterien erfüllt', true) }}

Eintrag eingereicht: {{ row['timestamp']|applytimezone }}